<?xml version="1.0" encoding="ISO-8859-1"?>
<conf>
  <home>
    <miolo>/home/eduardo/svn/miolo25</miolo>
    <classes>/home/eduardo/svn/miolo25/classes</classes>
    <modules>/home/eduardo/svn/miolo25/modules</modules>
    <etc>/home/eduardo/svn/miolo25/etc</etc>
    <logs>/home/eduardo/svn/miolo25/var/log</logs>
    <trace>/home/eduardo/svn/miolo25/var/trace</trace>
    <db>/home/eduardo/svn/miolo25/var/db</db>
    <html>/home/eduardo/svn/miolo25/html</html>
    <themes>/home/eduardo/svn/miolo25/html/themes</themes>
    <extensions>/home/eduardo/svn/miolo25/classes/extensions</extensions>
    <reports>/home/eduardo/svn/miolo25/var/reports</reports>
    <images>/home/eduardo/svn/miolo25/ui/images</images>
    <url>http://miolo25eduardo</url>
    <url_themes>/themes</url_themes>
    <url_reports>/reports</url_reports>
    <module.themes>/ui/themes</module.themes>
    <module.html>/html</module.html>
    <module.images>/html/images</module.images>
    <version>2.5</version>
  </home>
  <namespace>
    <core>/classes</core>
    <service>/classes/services</service>
    <ui>/classes/ui</ui>
    <themes>/html/themes</themes>
    <extensions>/classes/extensions</extensions>
    <controls>/ui/controls</controls>
    <database>/classes/database</database>
    <utils>/classes/utils</utils>
    <modules>/modules</modules>
    <business>/db</business>
  </namespace>
  <theme>
    <main>blue</main>
    <lookup>blue</lookup>
    <title>Miolo Web Application</title>
    <company>MIOLO FRAMEWORK</company>
    <system>version 2.0 - rc1</system>
    <logo>logo_miolo.png</logo>
    <email>admin@miolo2.localhost</email>
    <options>
      <close>true</close>
      <minimize>true</minimize>
      <help>true</help>
      <move>false</move>
    </options>
  </theme>
  <options>
    <startup>common</startup>
    <common>common</common>
    <scramble>0</scramble>
    <scramble.password>password</scramble.password>
    <dispatch>index.php</dispatch>
    <url.style>0</url.style>
    <index>index.php</index>
    <mainmenu>3</mainmenu>
    <mainmenu.style>office2003</mainmenu.style>
    <mainmenu.clickopen>false</mainmenu.clickopen>
    <dbsession>0</dbsession>
    <authmd5>0</authmd5>
    <debug>1</debug>
    <charset>ISO-8859-1</charset>
    <fileextension>25</fileextension>
    <dump>
      <peer>127.0.0.1</peer>
      <profile>false</profile>
      <uses>false</uses>
      <trace>false</trace>
      <handlers>false</handlers>
    </dump>
    <loading>
      <show>true</show>
      <generating>true</generating>
    </loading>
  </options>
  <i18n>
    <locale>/home/eduardo/svn/miolo25/locale/</locale>
    <language>es</language>
  </i18n>
  <mad>
    <module>admin</module>
    <classes>
      <access>access</access>
      <group>group</group>
      <log>log</log>
      <session>session</session>
      <transaction>transaction</transaction>
      <user>user</user>
    </classes>
  </mad>
  <login>
    <module>admin</module>
    <class>MAuthDb</class>
    <check>false</check>
    <shared>true</shared>
    <auto>1</auto>
    <perms>MPermsGnuteca</perms>
  </login>
  <session>
    <handler>file</handler>
    <timeout>300</timeout>
  </session>
  <db>
    <miolo>
      <system>sqlite</system>
      <host>localhost</host>
      <name>/home/eduardo/svn/miolo25/var/db/miolo.sqlite</name>
      <user>admin</user>
      <password>admin</password>
    </miolo>
        <gnuteca3>
            <system>postgres</system>
            <host>192.168.100.6</host>
            <port>5432</port>
            <name>gnuteca3_pesquisa</name>
            <user>postgres</user>
            <password></password>
        </gnuteca3>
  </db>
  <logs>
      <level>2</level>
      <handler>socket</handler>
      <peer>127.0.0.1</peer>
	  <port>9999</port>
  </logs>
</conf>
